# =========================
# Ambiente virtual
# =========================
venv/
# =========================
# Cache do Python
# =========================
**pycache**/
# =========================
# Dados gerados (NumPy)
# =========================
*.npy
# =========================
# Modelos treinados 
# =========================
*.h5
